*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#F7F7FA;
    line-height: 1.6;
    
}

header{
    position: fixed;
    
    padding: 10px;
    width: 100%;
    background-color:#6C63FF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.nav-links a{
    color: black;
    transition: color 0.7s;
    cursor: pointer;
    text-decoration: none;

}
.nav-links a:hover{
    color: white;
}

li{
    display: inline-block;
    margin: 0 15px;
    margin-left: 50px;
    padding: 3px 0;
    list-style: none;
    text-decoration: none;
}

main{
   display: block;
   justify-content: flex-end;
   width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 120px 20px;
}

.contenedor-principal{
   padding: 20px;
    width: 100%;
}

/*
.contenedor-secundario (para animacion de mi){
    margin-right: auto;
    padding: 20px;
}
*/

.titulo{
    color: black;
}
.subtitulo{
    color: #727272;
    font-size: 1.5rem;
}
.texto{
    color: #292929;
}


.circulo1,
.circulo2,
.circulo3{
    border-radius: 60%;
    width: 130px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    font-size: 1.3rem;
    

    }
.circulo1 a,
.circulo2 a,
.circulo3 a{
    color: black;
    cursor: pointer;
text-decoration: none;}

.circulo1 a:hover,
.circulo2 a:hover,
.circulo3 a:hover{
    color: white;}

    

.circulo1:hover { background-color:#815488;
    transition: background-color 0.3s ease;}
.circulo2:hover { background-color: #5D3954;
     transition: background-color 0.3s ease;}
.circulo3:hover {background-color: #463699;
     transition: background-color 0.3s ease;}

/*#E9631A - NARANJA
0D21A5 -AZUL
AMARILLO - D1D067 (colores que podria usar- salen)
*/
.circulo1{
    background-color: #B9C7F8;
}
.circulo2{
    background-color: #7B57CE;
}
.circulo3{
    background-color: #DBC583
}

.circulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px 0;
    text-decoration: none;

    
}

footer{
    background-color: #E3E7EE;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: block;
    justify-content: space-around;
    
}

footer a{
    color: #292929;
    text-decoration: none;
}
footer a:hover{
    color: #0D21A5;
}

.menu-btn {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    display: none;
}

@media (max-width: 768px) {

    .menu-btn {
        display: block;
        position: relative;
        background: none;
        border: none;
        z-index: 2001;
        left: 20px;
        top: 15px;
    }

    .menu-btn span {
    display: block;
    width: 26px;
    height: 3px;
    background: white;
    margin: 6px 0;
    border-radius: 2px;
}


    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0;
        margin: 0;
    }

    .nav-links li{
        display: block;
        margin: 0;
        padding: 6px 0;
        text-align: left;
        font-size: 1.2rem;
        
    }

    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #1f2633;
        box-shadow: none;
        padding: 15px 20px;
        position: fixed;
        top: 0;
        width: 100%;
    }

    header::after {
    content: "Menu";
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 600;
}

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 20px;
        right: auto;
        width: 20 20 ;
        background: #DAE097;
        padding: 40px;
        border-radius: 50px;
        box-shadow: 0 6px 20px  rgba(0,0,0,0.2);
        z-index: 1000;
    }

    .nav-links.activar {
        display: block;
    }
}



@media (min-width:768px){
    li {
        margin-left: 40px;
    }

    main {
        padding: 130px 40px;
        display: flex;
        justify-content: flex-end;
    }

    .contenedor-principal {
        width: 60%;
    }

    .subtitulo {
        font-size: 1.4rem;
    }

    .circulos {
        flex-direction: row;
        justify-content: space-between;
        max-width: 600px;
        margin: 20px auto;
    }

    .circulo1, .circulo2, .circulo3 {
        width: 260px;
        height: 140px;
        font-size: 1.2rem;
    }

    footer {
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 1024px){
     main {
        width: 80%;
        max-width: 1200px;
    }

    .contenedor-principal {
        width: 600px;
    }

    .circulo1, .circulo2, .circulo3 {
        width: 300px;
        height: 150px;
        font-size: 1.3rem;
    }
}

.menu-btn span{
    
    display: block;
    width: 28px;
    height: 3px;
    background: #DBC583;
    margin: 6px 0;
    border-radius: 2px;
    transition: transform 0.25s ease, opacity 0.25s ease;
    
}
